.head { 
    color:white;
    display: flex;
    justify-content: space-around;
    padding: 0%;
}
.cabecalho-lista {
    width: 40px;
    padding: 5% 2% 0%;
} 
.link {
    display: grid;       
}
.seleção {
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo {
    color: white;
    background-color: black; 
    padding: 0% 10%;
}
.lutadores {
    width: 23%; 
}
.textos-div {
   color: white;
   width: 30%;
}

body {
    background-image:linear-gradient(  rgb(68, 68, 75),rgb(143, 141, 141) );
} 

.teste1 {
    width: 30px;
}
