*{margin: 0;
 padding: 0;}

.cabeça{
    background-color: lightslategray;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 9px ;
}

.cabecalho-img{

    width: 75%;
}

.cabecalho-item{
    display:inline-block;
    margin:0 13px ;
    padding: 27px;
    font-size: 20px;
}
